ion-view(view-title='Gastos Comunes')
  ion-nav-bar
    ion-nav-back-button.button-clear.force-show(ng-click='goBack()')
      i.color-white.ion-chevron-left
  ion-content.detail-view
    .list
      .item(ng-if="commonExpenses.length == 0")
        p
          span.small No se registran Gastos comunes aún
      .item.button.button-full.icon-right(ng-repeat="item in commonExpenses | orderBy: '-created_at' " ng-click='showInfo(item.month)' ng-class="{'ion-ios-arrow-down': showingMonth != item.month, 'ion-ios-arrow-up': showingMonth == item.month}")
        span.upper {{item.month}}
        small.right.red 
          small ${{item.total | currency: '':0}}
        .detalle-mes(ng-show='showingMonth == item.month')
          hr
          p  Detalle de {{currentCondo.name}}
          .item.item-icon-left
            i.icon.ion-ios-lightbulb
            span.text-left Luz:
            span.text-right 
              small ${{item.total_light | currency: '':0}}
          .item.item-icon-left
            i.icon.ion-waterdrop
            span.text-left Agua:
            span.text-right
              small ${{item.total_water | currency: '':0}}
          .item.item-icon-left
            i.icon.ion-ios-flame
            span.text-left Gas:
            span.text-right
              small ${{item.total_gas | currency: '':0}}
          .item.item-icon-left
            i.icon.ion-ios-people
            span.text-left Personal:
            span.text-right
              small ${{item.total_personal | currency: '':0}}
          hr
          p.red
            span.text-left Total: 
            span.text-right
              small ${{item.total_light +  item.total_water + item.total_gas + item.total_personal | currency: '':0}}
  ion-footer-bar.bar-dark.account-footer(ng-click="showPaymentMethod()")
    button.button.button-full.pay-button
      | PAGAR
